<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Bio</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main class="my-16 lg:my-32 flex justify-between flex-wrap lg:p-0 p-4">
        <section class="w-full sm:w-5/12">
          <div class="mb-16">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Early years</h3>
            <p class="text-white font-body mb-4">
              Per Christian Berg is a music producer, sound engineer and DJ from Norway.  He
              took a great interest in music from an early age. He has been working with a
              variety of music since then. Playing several instruments, starting with guitar
              in his early teens, moving on to playing different instruments in the
              psychedelic rock band
              <a href="#" class="link">Wind</a>
              and finding a love for improvisational music.
            </p>
            <p class="text-white font-body mb-4">
              In his late teen years he discovered his love for electronic music
              moving from trip-hop to more psychedelic chill out, creating his
              project
              <a href="#" class="link">InnerVision</a>,
              focusing on psychedelic electronic eastern influenced musical
              landscapes.
            </p>
          </div>
          <div class="mb-16">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Later years</h3>
            <p class="text-white font-body mb-4">
              For the last years the focus is deeply in electronic music and the projects
              <a href="#" class="link">Christian Berg</a>
              and <a href="#" class="link">Hydrous</a>
              with a special love for techno and ambient and atmospheric and
              hypnotic landscapes, keeping his roots as a multi instrumentalist
              and love for improvisation reflected in his music. He  plays
              synth and percussion in the band
              <a href="#" class="link">Den Kosmiske Overorden</a>.
            </p>
          </div>
          <div class="mb-16">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Currently</h3>
            <p class="text-white font-body mb-4">
              In 2020 he released two albums under the name Christian Berg.
              <a href="#" class="link">Ikigai</a>
              with the norwegian label
              <a href="#" class="link">Molt</a>,
              a more techno focused release with its roots deeply planted in
              atmospheric landscapes. And later in 2020 the album
              <a href="#" class="link">Skogsro</a>
              was released on the american record label
              <a href="#" class="link">Stereoscenic</a>.
              With this release the focus is shifted to a more puristic ambient
              landscape deeply inspired by nordic nature.
            </p>
          </div>
        </section>
        <section class="w-full sm:w-5/12">
          <img src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto:good,w_1000/v1629730537/perchristianberg.com/bio/nordmarka" >
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
