<section aria-label="Hero images carousel" class="">
  <div class="splide z-0">
    <div class="splide__track">
      <ul class="splide__list relative">
        {{#each htmlWebpackPlugin.options.images }}
          <li class="splide__slide">
            <img src="{{this}}" class="h-screen sm:h-fixed object-cover w-full object-center" />
          </li>
        {{/each}}
        <div class="absolute top-0 bottom-0 left-0 right-0 gradient"></div>
      </ul>
    </div>
  </div>
  <div class="flex justify-center sm:justify-between font-body text-white text-opacity-50 pt-4 pl2 items-center">
    <span id="carousel-annotation" class="hidden sm:block pl-4 lg:pl-0"></span>
    <div class="flex space-x-2 justify-center">
      <div class="pip rounded-full w-3 h-3 transition-opacity duration-100 bg-white"></div>
      <div class="pip rounded-full w-3 h-3 transition-opacity duration-100 bg-white bg-opacity-30"></div>
      <div class="pip rounded-full w-3 h-3 transition-opacity duration-100 bg-white bg-opacity-30"></div>
    </div>
  </div>
</section>
