<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Music | Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      <div class="relative">
        <img
          src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto:good,w_1440/v1629986340/perchristianberg.com/music/christian-berg"
          alt="Christian Berg hero image"
          class="h-screen sm:h-fixed object-cover w-full object-center"
          />
        <div class="absolute top-0 bottom-0 left-0 right-0 gradient"></div>

        <h1 id="header-title" class="w-8/12 left-2 title absolute -bottom-9 lg:-left-1.4 xl:text-title1 2xl:text-title2 sm:text-title2 text-screen text-white uppercase font-display">christian berg</h1>
      </div>
      <main class="my-24 flex justify-between flex-wrap lg:p-0 p-4">

        <section aria-label="Project and section headline" class="flex justify-between w-full flex-wrap">
          <div class="text-white font-body lg:w-3/5 w-full mb-16 lg:mb-0">
            Moving in the atmospheric landscapes from ambient to techno. Deeply inspired by nature and stillness.
          </div>
          <h3 class="text-white font-display text-2xl uppercase text-opacity-50">discography</h3>
        </section>

        {{> album
          aria-label="Album section skogsro"
          img-alt="Skogsro album cover"
          title="skogsro"
          img-src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto,w_1000/v1630335001/perchristianberg.com/albums/skogsro"
          href="https://li.sten.to/skogsro"
          body="
            Cras auctor nunc ac dapibus volutpat. Pellentesque vitae commodo erat. Fusce
            sed augue ut massa laoreet dapibus. Nulla ac metus vitae massa tincidunt
            imperdiet. Donec volutpat iaculis diam, eu bibendum dui blandit et."
        }}

        {{> album
          aria-label="Album section Ikigai"
          img-alt="Ikigai album cover"
          title="ikigai"
          img-src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto,w_1000/v1630335001/perchristianberg.com/albums/ikigai"
          href="#"
          body="
            Duis tincidunt erat non urna vulputate rhoncus. Curabitur et volutpat nibh. Nam
            at convallis lacus, non scelerisque purus. Integer et pharetra erat. Integer id
            metus metus."
        }}

      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
