<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Music | Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      <div class="relative">
        <img
          src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto:good,w_1440/v1629986340/perchristianberg.com/music/christian-berg"
          alt="Christian Berg hero image"
          class="h-screen sm:h-fixed object-cover w-full object-center"
          />
        <div class="absolute top-0 bottom-0 left-0 right-0 gradient"></div>
      </div>
      <main class="my-16 lg:my-32 flex justify-between flex-wrap lg:p-0 p-4">
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
