<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Music | Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      <div class="relative">
        <img
          src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto:good,w_1440/v1629986340/perchristianberg.com/music/christian-berg"
          alt="Christian Berg hero image"
          class="h-screen sm:h-fixed object-cover w-full object-center"
          />
        <div class="absolute top-0 bottom-0 left-0 right-0 gradient"></div>

        <h1 id="header-title" class="w-8/12 left-2 title absolute -bottom-9 lg:-left-1.4 xl:text-title1 2xl:text-title2 sm:text-title2 text-screen text-white uppercase font-display">christian berg</h1>
      </div>
      <main class="my-24 flex justify-between flex-wrap lg:p-0 p-4">

        <section aria-label="Project and section headline" class="flex justify-between w-full flex-wrap">
          <div class="text-white font-body w-full mb-16 lg:mb-0">
            Moving in the atmospheric landscapes from ambient to techno. Deeply inspired by nature and stillness.
          </div>
        </section>

        <h3 class="text-white font-display text-2xl uppercase text-opacity-50 mt-16">discography</h3>

        {{> album
          aria-label="Album section skogsro"
          img-alt="Skogsro album cover"
          title="skogsro"
          img-src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto,w_1000/v1630335001/perchristianberg.com/albums/skogsro"
          href="https://li.sten.to/skogsro"
          body="
            Cras auctor nunc ac dapibus volutpat. Pellentesque vitae commodo erat. Fusce
            sed augue ut massa laoreet dapibus. Nulla ac metus vitae massa tincidunt
            imperdiet. Donec volutpat iaculis diam, eu bibendum dui blandit et."
        }}

        {{> album
          aria-label="Album section Ikigai"
          img-alt="Ikigai album cover"
          title="ikigai"
          img-src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto,w_1000/v1630335001/perchristianberg.com/albums/ikigai"
          href="#"
          body="
            Duis tincidunt erat non urna vulputate rhoncus. Curabitur et volutpat nibh. Nam
            at convallis lacus, non scelerisque purus. Integer et pharetra erat. Integer id
            metus metus."
        }}

        <!-- <div class="flex w-full flex-wrap">                                                             -->
        <!--   <h3 class="text-white font-display text-2xl uppercase text-opacity-50">Mixes & Resources</h3> -->
        <!-- </div>                                                                                          -->
        <section aria-label="Mixes and resources section" class="w-full grid grid-cols-1 md:grid-cols-2 my-16 lg:my-24 gap-4 lg:p-0">
          <div>

            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Resources</h3>
            <div class="text-white font-body w-full lg:w-4/5 mb-8">
              For further information about how and where you can listen, here are some resources to check out if your interested.
            </div>
            <div class="grid gap-6 grid-cols-2 w-full lg:w-4/5">
              <button class="icon-button">
                <a href="https://open.spotify.com/artist/0kHutYBsThHxb4q2aUjn67?si=J7bipZ1aRSenDNEHMigcLg" target="_blank" class="flex justify-center">
                  {{> icons/spotify class="h-6 w-6" }}
                  <span class="ml-2">Spotify</span>
                </a>
              </button>
              <button class="icon-button">
                <a href="https://soundcloud.com/christian_berg1" target="_blank" class="flex justify-center">
                  {{> icons/soundcloud class="h-6 w-6" }}
                  <span class="ml-2">Soundcloud</span>
                </a>
              </button>
              <button class="icon-button">
                <a href="https://stereoscenic.bandcamp.com/album/skogsro" target="_blank" class="flex justify-center">
                  {{> icons/bandcamp class="h-6 w-6" }}
                  <span class="ml-2">Bandcamp</span>
                </a>
              </button>
              <button class="icon-button">
                <a href="https://www.instagram.com/per_christian_berg/" target="_blank" class="flex justify-center">
                  {{> icons/instagram class="h-6 w-6" }}
                  <span class="ml-2">Instagram</span>
                </a>
              </button>
            </div>
          </div>
          <div>
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Mixes</h3>
            <div class="text-white font-body mb-10">Have a listen to a mix produced for Drivhuset Podcast</div>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/587897313&color=%236299a9&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/drivhuset-meraki" title="Drivhuset-Meraki" target="_blank" style="color: #cccccc; text-decoration: none;">Drivhuset-Meraki</a> · <a href="https://soundcloud.com/drivhuset-meraki/drivhuset-podcast-16-christian-berg-form-formless" title="Drivhuset Podcast #16 Christian Berg - Form, Formless" target="_blank" style="color: #cccccc; text-decoration: none;">Drivhuset Podcast #16 Christian Berg - Form, Formless</a></div>
          </div>
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
