<header class="h-14 flex items-center relative z-10">
  <div class="relative flex h-6 items-center justify-end w-full mr-2 lg:mr-0">
    <h1 class="w-8/12 left-2 title absolute top-0 lg:-left-1.5 xl:-left-1.4 2xl:-left-1.5 xl:text-title1 2xl:text-title2 sm:text-title2 text-screen text-white uppercase font-display">per christian berg</h1>
    <div class="hidden sm:block">
      <nav aria-label="Main navigation" class="flex space-x-4">
        <div id="nav-music" class="cursor-pointer relative inline-block text-left font-menu text-white capitalize text-opacity-50 hover:text-opacity-100">
          <a id="nav-music-btn" class="flex items-center" aria-haspopup="true" aria-expanded="false">
            <span>music</span>
            {{> icons/chevron-down class="h-4 w-4 pl-1" }}
          </a>
          <div class="pt-2">
            <div id="nav-music-content" class="transition transform opacity-0 scale-95 ease-out invisible origin-top-left absolute left-0 w-56 shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="nav-music-btn">
              <div class="py-1" role="none">
                <a href="/music/christian" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Christian Berg</a>
                <a href="#" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Project 2</a>
                <a href="#" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Project 3</a>
              </div>
            </div>
          </div>
        </div>
        <a id="nav-music" class="menu-item text-opacity-50" href="#">video</a>
        <a id="nav-bio" class="menu-item text-opacity-50" href="/bio">bio</a>
        <a id="nav-studio" class="menu-item text-opacity-50" href="/studio">studio</a>
        <a id="nav-contact" class="menu-item text-opacity-50" href="#">contact</a>
      </nav>
    </div>
    <div class="absolute sm:hidden">
      <button id="slide-menu-btn" type="button" class="inline-flex items-center justify-center p-2 text-white hover:bg-white hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        {{> icons/menu class="block h-6 w-6" }}
      </button>
    </div>
  </div>
</header>
