<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Music | Hydrous</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      <div class="relative">
        <img
          src="https://res.cloudinary.com/dvkodtgl9/image/upload/c_scale,q_auto:good,w_1440/v1636807432/perchristianberg.com/index/hydrous"
          alt="Christian Berg hero image"
          class="h-screen sm:h-fixed object-cover w-full hydrous-cover"
          />
        <div class="absolute top-0 bottom-0 left-0 right-0 gradient"></div>
      </div>
      <main class="my-32 flex flex-wrap lg:p-0 p-4">

        <section aria-label="Project and section headline" class="">
          <h1 id="header-title" class="mb-8 xl:text-title1 2xl:text-title2 sm:text-title2 text-project text-white uppercase font-display">hydrous</h1>
          <div class="text-white font-body w-full mb-32">
            Inspired by the mystical, meditative states, nature and magical moments on the dancefloor.
          </div>
        </section>

        <section class="mb-16 md:mb-32">
          {{#each htmlWebpackPlugin.options.albums }}
            {{#with this }}
              {{> albumh }}
            {{/with}}
          {{/each}}
        </section>

        <section aria-label="Mixes and resources section" class="w-full grid grid-cols-1 md:grid-cols-2 gap-16 md:gap-32 lg:p-0">
          <div class="">
            <h3 class="text-white font-display mb-8 text-lg uppercase">Mixes</h3>
            <!-- <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Mixes</h3> -->
            <div class="mb-8">
              <div class="text-white font-body mb-8">A podcast episode created for Navigare Audio podcast series</div>
              <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1110827569&color=%23293636&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/navigare-audio" title="Navigare Audio" target="_blank" style="color: #cccccc; text-decoration: none;">Navigare Audio</a> · <a href="https://soundcloud.com/navigare-audio/navigare-009-hydrous" title="Navigare 009 - Hydrous" target="_blank" style="color: #cccccc; text-decoration: none;">Navigare 009 - Hydrous</a></div>
            </div>
            <div>
              <div class="text-white font-body mb-8">
                A mix created for The Memoir series by Hypnus Records. A journey through released and unreleased Hydrous productions
              </div>
              <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1663637910&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/hypnus-memoirs" title="The Memoir" target="_blank" style="color: #cccccc; text-decoration: none;">The Memoir</a> · <a href="https://soundcloud.com/hypnus-memoirs/page-112-hydrous" title="Page 112: Hydrous" target="_blank" style="color: #cccccc; text-decoration: none;">Page 112: Hydrous</a></div>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-display mb-8 text-lg uppercase">Resources</h3>
            <div class="text-white font-body w-full lg:w-4/5 mb-8">
              For further information about how and where you can listen, here are some resources to check out if your interested.
            </div>
            <div class="grid gap-6 grid-cols-2 w-full lg:w-4/5">
              <button class="icon-button">
                <a target="_blank" href="https://open.spotify.com/artist/1SeoOR3FawCA1HGzhWIZxU" class="flex justify-center">
                  {{> icons/spotify class="h-6 w-6" }}
                  <span class="ml-2">Spotify</span>
                </a>
              </button>
              <button class="icon-button">
                <a href="https://soundcloud.com/hydrous1" target="_blank" class="flex justify-center">
                  {{> icons/soundcloud class="h-6 w-6" }}
                  <span class="ml-2">Soundcloud</span>
                </a>
              </button>
              <button class="icon-button">
                <a target="_blank" href="https://navigareaudio.bandcamp.com/album/elements" class="flex justify-center">
                  {{> icons/bandcamp class="h-6 w-6" }}
                  <span class="ml-2">Bandcamp</span>
                </a>
              </button>
              <button class="icon-button">
                <a href="https://www.instagram.com/per_christian_berg/" target="_blank" class="flex justify-center">
                  {{> icons/instagram class="h-6 w-6" }}
                  <span class="ml-2">Instagram</span>
                </a>
              </button>
            </div>
          </div>
        </section>

      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
