<div class="{{class}}">
  <a href="mailto:contact@perchristianberg.com">{{> icons/mail class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="https://open.spotify.com/artist/0kHutYBsThHxb4q2aUjn67?si=wNOlqIfwTPizmWEAjhsstg" target="_blank">{{> icons/spotify class="h-6 w-6 hover:opacity-50" }}</a>
  <a href="https://www.facebook.com/cbinnervision" target="_blank">{{> icons/facebook class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="https://music.apple.com/gb/artist/christian-berg/27538967" target="_blank">{{> icons/itunes class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="https://soundcloud.com/christian_berg1" target="_blank">{{> icons/soundcloud class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="https://stereoscenic.bandcamp.com/album/skogsro/" target="_blank">{{> icons/bandcamp class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="https://www.instagram.com/per_christian_berg/" target="_blank">{{> icons/instagram class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/youtube class="h-6 w-6 hover:opacity-50"}}</a>
</div>
