<div class="{{class}}">
  <a href="#" target="_blank">{{> icons/mail class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/spotify class="h-6 w-6 hover:opacity-50" }}</a>
  <a href="#" target="_blank">{{> icons/facebook class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/itunes class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/soundcloud class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/bandcamp class="h-6 w-6 hover:opacity-50"}}</a>
  <a href="#" target="_blank">{{> icons/youtube class="h-6 w-6 hover:opacity-50"}}</a>
</div>
