<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      <header class="h-14 flex items-center">
        <div class="relative flex h-6 items-center justify-end w-full mr-2 lg:mr-0">
          <h1 class="w-8/12 left-2 title absolute top-0 lg:-left-1.5 xl:-left-1.4 2xl:-left-1.5 xl:text-title1 2xl:text-title2 sm:text-title2 text-screen text-white uppercase font-display">per christian berg</h1>
          <div class="hidden sm:block">
            <nav aria-label="Main navigation" class="flex space-x-4">
              <div id="submenu" class="cursor-pointer relative inline-block text-left font-menu text-white capitalize text-opacity-50 hover:text-opacity-100">
                <a id="submenu-btn" class="flex items-center" aria-haspopup="true" aria-expanded="false">
                  <span>music</span>
                  {{> icons/chevron-down class="h-4 w-4 pl-1" }}
                </a>
                <div class="pt-2">
                  <div id="submenu-content" class="transition transform opacity-0 scale-95 ease-out invisible origin-top-left absolute left-0 w-56 shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="submenu-btn">
                    <div class="py-1" role="none">
                      <a href="#" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Project 1</a>
                      <a href="#" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Project 2</a>
                      <a href="#" class="font-menu block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Project 3</a>
                    </div>
                  </div>
                </div>
              </div>
              <a class="menu-item" href="#">video</a>
              <a class="menu-item" href="#">bio</a>
              <a class="menu-item" href="#">studio</a>
              <a class="menu-item" href="#">contact</a>
            </nav>
          </div>
          <div class="absolute sm:hidden">
            <button id="slide-menu-btn" type="button" class="inline-flex items-center justify-center p-2 text-white hover:bg-white hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              {{> icons/menu class="block h-6 w-6" }}
            </button>
          </div>
        </div>
      </header>
      <section aria-label="Hero images carousel" class="">
        <div role="img" aria-label="Vestibulum ut sem imperdiet, sollicitudin" class="banner h-screen sm:h-fixed bg-cover bg-center"></div>
        <div class="flex sm:grid sm:grid-cols-0.5 justify-center font-body text-white text-opacity-50 pt-4 pl2 items-center">
          <span class="hidden sm:block pl-4 lg:pl-0">Vestibulum ut sem imperdiet, sollicitudin</span>
          <div class="flex space-x-2 justify-center">
            <div class="rounded-full w-3 h-3 bg-white bg-opacity-30"></div>
            <div class="rounded-full w-3 h-3 bg-white"></div>
            <div class="rounded-full w-3 h-3 bg-white bg-opacity-30"></div>
          </div>
        </div>
      </section>
      <main class="">
        <section class="flex justify-center sm:justify-between flex-wrap p-4 lg:p-0">
          <div class="w-96 sm:w-80 mt-12">
            <h3 class="mb-4 text-white font-display text-opacity-50">PROIN</h3>
            <div class="text-white font-body">
              Nulla mattis diam nisi, vel dapibus augue fermentum quis. Vivamus
              quis semper nisi. Maecenas vitae metus mi. Nulla eget finibus
              lorem.
            </div>
          </div>
          <div class="w-96 sm:w-80 mt-12">
            <h3 class="mb-4 text-white font-display text-opacity-50">AENEAN</h3>
            <div class="text-white font-body">
              Etiam at velit dui. Vestibulum vestibulum ac lacus a porta. Proin vehicula ac
              ipsum quis pulvinar. Nunc dignissim scelerisque justo, ac imperdiet diam
              viverra in.
            </div>
          </div>
          <div class="w-96 sm:w-80 mt-12">
            <h3 class="mb-4 text-white font-display text-opacity-50">VIVAMUS</h3>
            <div class="text-white font-body">
              Sed convallis in neque eget rhoncus. Integer volutpat eleifend
              purus vitae lobortis.
            </div>
          </div>
        </section>
        <section aria-label="Latest album" class="grid grid-cols-2 mt-16 items-center">
          <div>
            <h3 class="text-white font-display text-2xl w-2/5">Suspendisse pretium ipsum</h3>
            <div class="text-white font-body mt-8 w-4/5">
              Cras auctor nunc ac dapibus volutpat. Pellentesque vitae commodo erat. Fusce
              sed augue ut massa laoreet dapibus. Nulla ac metus vitae massa tincidunt
              imperdiet. Donec volutpat iaculis diam, eu bibendum dui blandit et. Cras
              facilisis lectus magna. Proin dictum eleifend posuere. Integer neque lacus,
              vulputate nec magna ut, consequat luctus augue. Duis molestie lectus nisl.
              Curabitur elementum elementum velit cursus volutpat. Aenean varius volutpat
              iaculis. Ut ante lectus, blandit sed sagittis sit amet, fringilla ac felis.
            </div>
          </div>
          <img src="./skogsro.jpg" alt="Skogsro album cover" class="object-fit">
        </section>
      </main>
    </div>
    <aside id="slide-container" class="invisible fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
      <div class="absolute inset-0 overflow-hidden">
        <div id="slide-overlay" class="opacity-0 ease-in-out duration-500 absolute inset-0 bg-black bg-opacity-60 transition-opacity" aria-hidden="true"></div>
        <div class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
          <div id="slide-panel" class="transform transition-transform ease-in-out duration-500 translate-x-full relative w-72">

            <div class="h-full flex flex-col bg-primary overflow-y-scroll">
              <div class="px-4 h-14 flex items-center">

                <div id="slide-close-btn" class="absolute opacity-0 ease-in-out duration-500 transition-opacity -ml-11 pr-2 flex">
                  <button class="text-white hover:bg-white hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-white">
                    <span class="sr-only">Close panel</span>
                    {{> icons/x class="h-6 w-6" }}
                  </button>
                </div>
                <h2 class="text-xl font-medium text-white uppercase font-display" id="slide-over-title">
                  per christian berg
                </h2>
              </div>
              <nav class="flex-1" aria-label="Mobile navigation">
                <div id="collapse-btn" class="flex items-center font-menu capitalize text-white cursor-pointer block px-4 py-2 hover:bg-white hover:bg-opacity-20" role="menuitem" aria-haspopup="true" aria-expanded="false">
                  <span class="">music</span>
                  {{> icons/chevron-down class="h-4 w-4 mx-3" }}
                  {{> icons/chevron-up class="hidden h-4 w-4 mx-3" }}
                </div>
                <div id="collapse-menu" class="hidden" >
                  <a href="#" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">project 1</a>
                  <a href="#" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">project 2</a>
                  <a href="#" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">project 3</a>
                </div>
                <a href="#" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">video</a>
                <a href="#" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">bio</a>
                <a href="#" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">studio</a>
                <a href="#" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">contact</a>
              </nav>
              <div class="text-white flex py-4 px-4 justify-between">
                <a href="#" target="_blank">{{> icons/spotify class="h-6 w-6 hover:opacity-50" }}</a>
                <a href="#" target="_blank">{{> icons/facebook class="h-6 w-6 hover:opacity-50"}}</a>
                <a href="#" target="_blank">{{> icons/itunes class="h-6 w-6 hover:opacity-50"}}</a>
                <a href="#" target="_blank">{{> icons/soundcloud class="h-6 w-6 hover:opacity-50"}}</a>
                <a href="#" target="_blank">{{> icons/bandcamp class="h-6 w-6 hover:opacity-50"}}</a>
                <a href="#" target="_blank">{{> icons/youtube class="h-6 w-6 hover:opacity-50"}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </body>
</html>

