<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main class="p-4">
        <section class="flex justify-center sm:justify-between flex-wrap lg:p-0">
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Recording</h3>
            <div class="text-white font-body">
              I provide recording services. Working from the recording studio Audioskop.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Mix/mastering</h3>
            <div class="text-white font-body">
              I offer mixing/mastering services. Working with both digital and analog equipment.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Composing/Post-production</h3>
            <div class="text-white font-body">
              I compose music for various formats and provide post-production mixing and sound design.
            </div>
          </div>
        </section>
        <section aria-label="latest album" class="my-16 lg:my-44">
          {{#with htmlWebpackPlugin.options.latestRelease }}
            {{> albumh }}
          {{/with}}
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>

