<aside id="slide-container" class="invisible fixed inset-0 overflow-hidden z-20" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <div id="slide-overlay" class="opacity-0 ease-in-out duration-500 absolute inset-0 bg-black bg-opacity-60 transition-opacity" aria-hidden="true"></div>
    <div class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
      <div id="slide-panel" class="transform transition-transform ease-in-out duration-500 translate-x-full relative w-70">

        <div class="h-full flex flex-col bg-primary overflow-y-scroll">
          <div class="px-4 h-14 flex items-center">

            <div id="slide-close-btn" class="absolute opacity-0 ease-in-out duration-500 transition-opacity -ml-11 pr-2 flex">
              <button class="text-white hover:bg-white hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-white">
                <span class="sr-only">Close panel</span>
                {{> icons/x class="h-6 w-6" }}
              </button>
            </div>
            <a href="/">
              <h2 class="text-xl font-medium text-white uppercase font-display" id="slide-over-title">
                per christian berg
              </h2>
            </a>
          </div>
          <nav class="flex-1" aria-label="Mobile navigation">
            <div id="collapse-btn" class="flex items-center font-menu capitalize text-white cursor-pointer block px-4 py-2 hover:bg-white hover:bg-opacity-20" role="menuitem" aria-haspopup="true" aria-expanded="false">
              <span class="">music</span>
              {{> icons/chevron-down class="h-4 w-4 mx-3" }}
              {{> icons/chevron-up class="hidden h-4 w-4 mx-3" }}
            </div>
            <div id="collapse-menu" class="hidden" >
              <a href="/music/christian" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">Christian Berg</a>
              <a href="#" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">project 2</a>
              <a href="#" class="font-menu capitalize block px-8 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">project 3</a>
            </div>
            <a href="/" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">home</a>
            <!-- <a href="#" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">video</a> -->
            <a href="/bio" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">bio</a>
            <a href="/studio" class="font-menu capitalize block px-4 py-2 text-white hover:bg-white hover:bg-opacity-20" role="menuitem">studio</a>
          </nav>
          {{> icons class="text-white p-4 grid gap-6 grid-rows-2 grid-flow-col"}}
        </div>
      </div>
    </div>
  </div>
</aside>
