<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Studio</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main>
        <section class="my-16 lg:my-24">
          <p class="text-white font-body">
            I work as a producer, sound engineer and composer. Most of my
            recording/mixing work I do in the studio Audioskop, right outside of
            Oslo. See the the studios own webpage for more information:
          </p>

          <div class="my-5 flex items-center">
            <div class="rounded-full w-1 h-1 bg-white mr-2"></div>
            <a target="_blank"
               class="text-white hover:underline focus:bg-white focus:text-black focus:bg-opacity-60"
               href="http://www.audioskop.no"
               >
              www.audioskop.no
            </a>
          </div>

          <p class="text-white font-body">
            I offer services such as recording, producing, mixing and movie audio
            post-production and composing. I work with a wide variety of genres.
            Both with music and music/audio for movies. Reach out to me on my
            contact page for more info.
          </p>
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
