<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Studio</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main>
        <section class="flex my-16 lg:my-24 justify-between flex-wrap lg:p-0 p-4">
          <div class="w-full sm:w-5/12">
            <p class="text-white font-body mb-4">
              I work as a producer, sound engineer and composer. Most of my
              recording/mixing work I do in the studio Audioskop, right outside of
              Oslo. See the the studios own webpage for more information:
            </p>
            <a target="_blank"
               class="mb-4 uppercase inline-block rounded font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10"
               href="http://www.audioskop.no"
               >
               go to audioskop.no
            </a>
          </div>

          <div class="w-full sm:w-5/12">
            <p class="text-white font-body">
              I offer services such as recording, producing, mixing and movie audio
              post-production and composing. I work with a wide variety of genres.
              Both with music and music/audio for movies. Reach out to me on my
              contact page for more info.
            </p>
          </div>
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
