<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg | Studio</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main class="my-16 lg:my-32 flex justify-between flex-wrap lg:p-0 p-4">
        <section class="w-full sm:w-5/12">
          <div class="mb-16 lg:mb-24">
            <h3 class="mb-4 text-white/50 font-display uppercase">studio</h3>
            <p class="text-white font-body">
              I work as a producer, sound engineer and composer. Most of my
              recording/mixing work I do in the studio Audioskop, right outside of
              Oslo. See the the studios own webpage for more information:
            </p>
            <a target="_blank"
               class="mt-10 uppercase inline-block rounded-sm font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10"
               href="http://www.audioskop.no"
               >
               go to audioskop.no
            </a>
          </div>
          <div class="mb-16">
            <h3 class="mb-4 text-white/50 font-display uppercase">services</h3>
            <p class="text-white font-body">
              I offer services such as recording, producing, mixing and movie
              audio post-production and composing. I work with a wide variety
              of genres. Both with music and music/audio for movies.
              <a class="link" href="mailto:perchristianberg@gmail.com">Contact me</a> for more info.
            </p>
          </div>
        </section>

        <section class="w-full sm:w-5/12">
          <h3 class="mb-4 text-white/50 font-display uppercase">Music</h3>
          <div class="text-white font-body mb-10">Here are a few selected examples of tracks I have produced/recorded/mixed</div>
          <iframe
            src="https://open.spotify.com/embed/playlist/284hSpC3stPy6bWqftVZRz"
            width="100%"
            height="400"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            >
          </iframe>
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>
