@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@splidejs/splide/dist/css/splide-core.min.css';

@layer base {
  @font-face {
    font-family: Raleway Bold;
    font-weight: 700;
    src: url(./Raleway-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: Raleway Regular;
    font-weight: 400;
    src: url(./Raleway-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Open Sans Regular;
    font-weight: 400;
    src: url(./OpenSans-Regular.ttf) format("truetype");
  }
}

html,body {
  height: 100%;
}

.banner1 {
  background-image: url("../img/bg1.jpg");
}

.banner2 {
  background-image: url("../img/bg2.jpg");
}

.banner3 {
  background-image: url("../img/bg3.jpg");
}

@layer components {
  .menu-item {
    @apply font-menu text-white capitalize text-opacity-50 hover:text-opacity-100;
  }
}

#slide-container {
  will-change: transform, opacity;
}

.splide {
}

.splide__arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  fill: white;
}

.splide__arrow:focus {
  outline: 1px solid white;
}

.splide__arrow--prev {
  left: 1px;
  transform: rotateY(-180deg);
}

.splide__arrow--next {
  right: 1px;
}

