@import 'tailwindcss';

@import '@splidejs/splide/dist/css/splide-core.min.css' layer(utilities);

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility menu-item {
  @apply font-menu capitalize hover:text-white/100;
}

@utility link {
  @apply text-blue-300 hover:text-blue-500;
}

@utility icon-button {
  @apply inline-block rounded-sm font-display text-white ring-1 ring-white p-3 hover:bg-white/10;
}

@utility icon-button-disabled {
  @apply cursor-not-allowed opacity-50 inline-block rounded-sm font-display text-white ring-1 ring-white p-3;
}

@layer base {
  @font-face {
    font-family: Raleway Bold;
    font-weight: 700;
    src: url(./Raleway-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: Raleway Regular;
    font-weight: 400;
    src: url(./Raleway-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Open Sans Regular;
    font-weight: 400;
    src: url(./OpenSans-Regular.ttf) format("truetype");
  }
}

@layer utilities {
  html,
  body {
    height: 100%;
  }
}

#slide-container {
  will-change: transform, opacity;
}

.splide {
}

.splide__arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  opacity: 1;
  /* transform: translateY(-50%); */
  fill: white;
}

.splide__arrow:hover {
  opacity: 0.8;
}

.splide__arrow:focus {
  outline: 1px solid white;
}

.splide__arrow--prev {
  left: 1px;
  transform: rotateY(-180deg);
}

.splide__arrow--next {
  right: 1px;
}

.gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
}
.hydrous-cover {
  object-position: 50% 30%;
}
