@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@splidejs/splide/dist/css/splide-core.min.css';

@layer base {
  @font-face {
    font-family: Raleway Bold;
    font-weight: 700;
    src: url(./Raleway-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: Raleway Regular;
    font-weight: 400;
    src: url(./Raleway-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Open Sans Regular;
    font-weight: 400;
    src: url(./OpenSans-Regular.ttf) format("truetype");
  }
}

html,body {
  height: 100%;
}

@layer components {
  .menu-item {
    @apply font-menu text-white capitalize hover:text-opacity-100;
  }
  .link {
    @apply text-blue-300 hover:text-blue-500;
  }
  .icon-button {
    @apply inline-block rounded font-display text-white ring-1 ring-white p-3 hover:bg-white hover:bg-opacity-10;
  }
  .icon-button-disabled {
    @apply cursor-not-allowed opacity-50 inline-block rounded font-display text-white ring-1 ring-white p-3;
  }
}

#slide-container {
  will-change: transform, opacity;
}

.splide {
}

.splide__arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  opacity: 1;
  /* transform: translateY(-50%); */
  fill: white;
}

.splide__arrow:hover {
  opacity: 0.8;
}

.splide__arrow:focus {
  outline: 1px solid white;
}

.splide__arrow--prev {
  left: 1px;
  transform: rotateY(-180deg);
}

.splide__arrow--next {
  right: 1px;
}

.gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
}
.hydrous-cover {
  object-position: 50% 30%;
}
